<div class="row">
  <p style="font-size: 25px">
    Displaying {{ contacts.length }} contacts.
  </p>
</div>

<div class="preloader-background" *ngIf="isLoading">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <label>Filter by group</label>
  <select class="browser-default" [ngModel]="selectedGroup" (ngModelChange)="onGroupChange($event)">
    <option [ngValue]="group.id" *ngFor="let group of contactGroups">{{group.name}}</option>
    <option [ngValue]="selectedGroup">--- All groups ---</option>
  </select>
</div>

<div class="row">
<table>
  <thead>
  <tr>
    <th data-field="name">First name</th>
    <th data-field="name">Last name</th>
    <th data-field="name">Email</th>
    <th data-field="name">Groups</th>
    <th data-field="name">Edit</th>
    <th data-field="name">Delete</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email }}</td>
      <td>
        <ng-template ngFor let-group [ngForOf]="translateGroupIds(contact.groups)">
          <div class="chip">{{group}}</div>
        </ng-template>
      </td>
      <td>
        <a [routerLink]="['/contacts', contact.id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <button class="buttonlink" (click)="deleteContact($event, contact)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green"
     routerLink="/contacts/new">
    <i class="material-icons">add</i>
  </a>
</div>
