USE [master]
GO
/****** Object:  Database [ContactManager]    Script Date: 7/7/2017 9:24:51 PM ******/
CREATE DATABASE [ContactManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContactManager', FILENAME = N'C:\Users\radek\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\ProjectsV13\ContactManager_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContactManager_log', FILENAME = N'C:\Users\radek\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\ProjectsV13\ContactManager_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContactManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContactManager]
GO
USE [ContactManager]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 7/7/2017 9:24:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Street] [nvarchar](100) NULL,
	[City] [nvarchar](100) NOT NULL,
	[ZipCode] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactGroup]    Script Date: 7/7/2017 9:24:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactsContactGroups]    Script Date: 7/7/2017 9:24:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactsContactGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContactId] [int] NOT NULL,
	[ContactGroupId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET IDENTITY_INSERT [dbo].[ContactGroup] ON 

INSERT [dbo].[ContactGroup] ([Id], [Name]) VALUES (1, N'Cleaners')
INSERT [dbo].[ContactGroup] ([Id], [Name]) VALUES (2, N'Office supply')
INSERT [dbo].[ContactGroup] ([Id], [Name]) VALUES (3, N'Telephone service')
SET IDENTITY_INSERT [dbo].[ContactGroup] OFF
ALTER TABLE [dbo].[ContactsContactGroups]  WITH CHECK ADD  CONSTRAINT [FK_ContactContactGroup_Contact] FOREIGN KEY([ContactId])
REFERENCES [dbo].[Contact] ([Id])
GO
ALTER TABLE [dbo].[ContactsContactGroups] CHECK CONSTRAINT [FK_ContactContactGroup_Contact]
GO
ALTER TABLE [dbo].[ContactsContactGroups]  WITH CHECK ADD  CONSTRAINT [FK_ContactContactGroup_ContactGroup] FOREIGN KEY([ContactGroupId])
REFERENCES [dbo].[ContactGroup] ([Id])
GO
ALTER TABLE [dbo].[ContactsContactGroups] CHECK CONSTRAINT [FK_ContactContactGroup_ContactGroup]
GO
USE [master]
GO
